# macOS
.DS_Store

# 편집기 임시 파일
*.swp
*.swo
*.bak

# 파이썬 캐시 및 빌드 파일
__pycache__/
*.pyc
*.pyo
*.pyd

# 패키지 빌드 및 메타데이터
ec2ctl.egg-info/
build/
dist/

# 가상 환경
.venv/
venv/
env/

# 환경 변수 파일
.env

# 기타 로그 파일 등
*.log